<!DOCTYPE html>
<html>
<head>
    <title>Linux Command Explorer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>🐧 Linux Command Explorer</h1>

    <p>Interactive man-page searching interface and flags breakdown</p>

    <input
        type="text"
        id="searchInput"
        placeholder="Search Linux command..."
    >

    <button onclick="searchCommand()">Search</button>

    <div id="result"></div>

    <script src="/static/script.js"></script>

</body>
</html>